@model Eventor.Models.App.CrearEventoModelo

@{
    ViewBag.Title = "Configurar Evento";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Evento.EventoId)
        @Html.HiddenFor(model => model.Contacto.ContactoId)
        @Html.HiddenFor(model => model.Evento.UserName)

        <br />
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <h3><strong>Editar @Model.Evento.Nombre</strong></h3>
                </div>
                <div class="col-md-6">
                    <div class="btn-group btn-group-lg pull-right">
                        <input type="submit" value="Guardar cambios" class="btn btn-lg btn-primary" />
                        @Html.ActionLink("Volver", "Details", new { @id = Model.Evento.EventoId }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Información General<span class="glyphicon glyphicon-list pull-right"></span></h4>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Evento.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Evento.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Evento.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Evento.Inicio, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Evento.Inicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Evento.Inicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Evento.Final, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Evento.Final, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Evento.Final, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Evento.Lugar, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Evento.Lugar, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Evento.Lugar, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Evento.Organizador, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Evento.Organizador, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Evento.Organizador, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Evento.Acceso, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EnumDropDownListFor(model => model.Evento.Acceso, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Evento.Acceso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Evento.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Evento.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Evento.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Información General<span class="glyphicon glyphicon-user pull-right"></span></h4>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacto.Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Contacto.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacto.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacto.Apellido, "Apellido", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Contacto.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacto.Apellido, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacto.Teléfono, "Teléfono", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Contacto.Teléfono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacto.Teléfono, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contacto.Correo, "Correo", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Contacto.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contacto.Correo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryDateTimePicker")
}
